In [56]:
import numpy as np
import matplotlib.pyplot as plt
import quandl 
import requests 
import json 
import pandas as pd 
import datetime

# 2 Time Series Gradient Descent Exercise in Python

## OLS estimates  from standard OLS formula

Bitcoin Daily Time series from 2016-01-01 to 2021-01-01 using QUANDL API

In [3]:
quandl.ApiConfig.api_key = 'a9NejCNZWKHWyyWRQ2wP'

In [94]:
#Home_Depot = quandl.get('EOD/HD') 
x =quandl.get('BITFINEX/BTCUSD', start_date='2016-01-01', end_date='2021-01-01')
#Home_Depot = quandl.get('BTC/US') 
x.head()
#type(x)

              High     Low      Mid    Last     Bid     Ask        Volume
Date
2016-01-01  436.49  426.26  433.910  433.78  433.83  433.99  12922.080199
2016-01-02  435.80  430.00  433.330  433.20  433.20  433.46   6658.092194
2016-01-03  433.79  421.73  427.905  427.98  427.76  428.05  18644.760056
2016-01-04  435.67  426.20  434.475  434.49  434.47  434.48  13092.850666
2016-01-05  434.91  427.91  432.090  431.82  431.96  432.22  11532.984890

In [95]:
x=x['High']
x

Date
2016-01-01      436.49
2016-01-02      435.80
2016-01-03      433.79
2016-01-04      435.67
2016-01-05      434.91
                ...
2020-12-28    27442.00
2020-12-29    27228.00
2020-12-30    28977.00
2020-12-31    29286.00
2021-01-01    29620.00
Name: High, Length: 1792, dtype: float64

In [98]:
x=np.array(x)
type(x)

numpy.ndarray

In [99]:
#Home_Depot.plot(y='Adj_Close', figsize=(10,10))
#plt.xlabel('Date', fontsize=18) 
#plt.ylabel( 'Adj_Close' , fontsize=18) 
#plt.title("Home Depot End of Day price") 
#plt.show()

## Eherium Daily Time series from 2016-01-01 to 2021-01-01 using CRYPTOCOMPARE API

In [112]:
lim = '100'
pair = ['ETH'] 
coins = pd.DataFrame() 
my_crypto_key = "C370e1baf8f2aedafb5e730b7c103cf0ff064111eca3b0860878dcf47ec2457e"

In [118]:
for i in pair: 
    URL_A = 'https://min-api.cryptocompare.com/data/histoday?fsym='+ i + '&tsym=USD&1imit='+lim+'&api_key=' 
URL = URL_A + my_crypto_key 
URL

'https://min-api.cryptocompare.com/data/histoday?fsym=ETH&tsym=USD&1imit=100&api_key=C370e1baf8f2aedafb5e730b7c103cf0ff064111eca3b0860878dcf47ec2457e'

In [119]:
data = requests.get(URL) 
json_data = data.json() 
table = pd.json_normalize(json_data, 'Data').set_index('time')
table.head()

,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
time,,,,,,,,
1624406400,2044.91,1827.20,1880.83,714905.63,1.416402e+09,1968.56,direct,
1624492800,2034.57,1886.17,1968.56,448512.52,8.825040e+08,1989.01,direct,
1624579200,2019.45,1791.99,1989.01,882983.22,1.653238e+09,1810.27,direct,
1624665600,1851.36,1717.91,1810.27,575329.88,1.021388e+09,1830.94,direct,
1624752000,1984.58,1808.20,1830.94,583203.44,1.092710e+09,1983.33,direct,

In [117]:
table.index = pd.to_datetime(table.index , unit='s')
table.head(5)

,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
time,,,,,,,,
2021-06-23,1437.93,1377.12,1347.43,376433.41,5.310203e+08,1410.66,multiply,BTC
2021-06-24,1464.14,1419.54,1410.66,366661.14,5.243283e+08,1430.01,multiply,BTC
2021-06-25,1330.87,1259.98,1430.01,495949.77,6.478363e+08,1306.25,multiply,BTC
2021-06-26,1338.91,1307.00,1306.25,395998.70,5.230121e+08,1320.74,multiply,BTC
2021-06-27,1429.07,1379.35,1320.74,357604.27,5.104161e+08,1427.32,multiply,BTC

In [105]:
coins = pd.concat([coins, table.high],  axis=1) 
coins.columns = pair 
coins

ValueError: Length mismatch: Expected axis has 2 elements, new values have 3 elements