In [56]:
import numpy as np
import matplotlib.pyplot as plt
import quandl 
import requests 
import json 
import pandas as pd 
import datetime

# 2 Time Series Gradient Descent Exercise in Python

## OLS estimates  from standard OLS formula

Bitcoin Daily Time series from 2016-01-01 to 2021-01-01 using QUANDL API

In [3]:
quandl.ApiConfig.api_key = 'a9NejCNZWKHWyyWRQ2wP'

In [94]:
#Home_Depot = quandl.get('EOD/HD') 
x =quandl.get('BITFINEX/BTCUSD', start_date='2016-01-01', end_date='2021-01-01')
#Home_Depot = quandl.get('BTC/US') 
x.head()
#type(x)

              High     Low      Mid    Last     Bid     Ask        Volume
Date
2016-01-01  436.49  426.26  433.910  433.78  433.83  433.99  12922.080199
2016-01-02  435.80  430.00  433.330  433.20  433.20  433.46   6658.092194
2016-01-03  433.79  421.73  427.905  427.98  427.76  428.05  18644.760056
2016-01-04  435.67  426.20  434.475  434.49  434.47  434.48  13092.850666
2016-01-05  434.91  427.91  432.090  431.82  431.96  432.22  11532.984890

In [95]:
x=x['High']
x

Date
2016-01-01      436.49
2016-01-02      435.80
2016-01-03      433.79
2016-01-04      435.67
2016-01-05      434.91
                ...
2020-12-28    27442.00
2020-12-29    27228.00
2020-12-30    28977.00
2020-12-31    29286.00
2021-01-01    29620.00
Name: High, Length: 1792, dtype: float64

In [98]:
x=np.array(x)
type(x)

numpy.ndarray

In [99]:
#Home_Depot.plot(y='Adj_Close', figsize=(10,10))
#plt.xlabel('Date', fontsize=18) 
#plt.ylabel( 'Adj_Close' , fontsize=18) 
#plt.title("Home Depot End of Day price") 
#plt.show()

## Eherium Daily Time series from 2016-01-01 to 2021-01-01 using CRYPTOCOMPARE API

In [107]:
lim = '100'
pair = ['BTC', 'ETH', 'BSV'] 
coins = pd.DataFrame() 
my_crypto_key = "C370e1baf8f2aedafb5e730b7c103cf0ff064111eca3b0860878dcf47ec2457e"

In [108]:
for i in pair: 
    URL_A = 'https://min-api.cryptocompare.com/data/histoday?fsym='+ i + '&tsym=GBP&1imit='+lim+'&api_key=' 
URL = URL_A + my_crypto_key 
URL

'https://min-api.cryptocompare.com/data/histoday?fsym=BSV&tsym=GBP&1imit=5&api_key=C370e1baf8f2aedafb5e730b7c103cf0ff064111eca3b0860878dcf47ec2457e'

In [109]:
data = requests.get(URL) 
json_data = data.json() 
table = pd.json_normalize(json_data, 'Data').set_index('time')
table.head()

,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
time,,,,,,,,
1624406400,93.34,85.98,85.39,211636.65,19482719.68,92.06,multiply,BTC
1624492800,99.08,94.17,92.06,307539.01,29137553.80,94.74,multiply,BTC
1624579200,88.86,84.37,94.74,275222.73,24218349.35,88.00,multiply,BTC
1624665600,92.39,88.69,88.00,236155.16,21422157.17,90.71,multiply,BTC
1624752000,102.03,94.09,90.71,259294.13,24454967.66,94.31,multiply,BTC

In [111]:
table.index = pd.to_datetime(table.index , unit='s')
table.head(5)

,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
time,,,,,,,,
2021-06-23,93.34,85.98,85.39,211636.65,19482719.68,92.06,multiply,BTC
2021-06-24,99.08,94.17,92.06,307539.01,29137553.80,94.74,multiply,BTC
2021-06-25,88.86,84.37,94.74,275222.73,24218349.35,88.00,multiply,BTC
2021-06-26,92.39,88.69,88.00,236155.16,21422157.17,90.71,multiply,BTC
2021-06-27,102.03,94.09,90.71,259294.13,24454967.66,94.31,multiply,BTC

In [105]:
coins = pd.concat([coins, table.high],  axis=1) 
coins.columns = pair 
coins

ValueError: Length mismatch: Expected axis has 2 elements, new values have 3 elements